<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img style="height: 4rem;filter: invert(1);" src="/assets/images/logo.svg" alt="logo" width="410" height="29" aria-hidden="true" decoding="async"></a>
            <p>
                
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/">About Us</a>
                    </li>
                    <li>
                        <a target="_blank" href="/https://www.google.com/search?q=WB+Tire+and+Auto+LLC&oq=WB+Tire+and+Auto+LLC&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7MhAIARAuGK8BGMcBGIAEGI4FMgYIAhBFGEAyBwgDEAAYgAQyCAgEEAAYFhgeMgoIBRAAGIAEGKIEMgoIBhAAGIAEGKIEMgoIBxAAGIAEGKIE0gEHNjM5ajBqNKgCALACAQ&sourceid=chrome&ie=UTF-8#lrd=0x87b26999ba3d622f:0x25424c1020dd3afa,1,,,,">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Brake Replacement</li>                    
                    <li>A/C Repair</li>
                    <li>Oil Change</li>
                    <li>Alignment</li>
                    <li>Tire/Wheel Change</li>
                    <li>Custom Requests</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://betterwebsite.ai" target="_blank" rel="noopener">Better Website</a>
        <span class="copyright">
            Copyright {% year %} - Present</span>
    </div>
</footer>
