---
title: 'WB Tire and Auto | Home | Oklahoma'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1059">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">WB Tire and Auto Norman, OK</h1>
            <p class="cs-text">
                Let us take care of any automotive needs you have!
            </p>
            <a href="/contact" class="cs-button-solid">Request Appointment</a>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/lift.jpg' | resize({ width: 1000, height:600, position: 'center'}) | webp %}">
        <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/lift.jpg' | resize({ width: 1000, height:600, position: 'center'}) | webp %}">
        <img decoding="async" src="{% getUrl '/assets/images/lift.jpg' | resize({ width: 1000, height:600, position: 'center'}) | webp %}" alt="mechanic" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
                                

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/brake.svg"
                alt="appliance"
                width="48"
                height="48"
                style="filter: invert(1);"/>
            </picture>
            <h2>Brake Replacement</h2>
            <p>Professional technicians inspect, diagnose, and install high-quality parts to restore optimal stopping power.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/ac.svg"
                alt="appliance"
                width="48"
                height="48"
                style="filter: invert(1);"/>
            </picture>
            <h2>A/C Repair</h2>
            <p>Certified technicians ensure proper installation and refrigerant handling for efficient climate control.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/gas.svg"
                alt="appliance"
                width="48"
                height="48"
                style="filter: invert(1);"/>
            </picture>
            <h2>Oil Change</h2>
            <p>An oil change service replaces old engine oil and filters to keep your vehicle running smoothly and efficiently.</p>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/lift.jpg' | resize({ width: 600, height:600, position: 'center'}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/lift.jpg' | resize({ width: 600, height:600, position: 'center'}) | webp %}">
                    <img aria-hidden="true" decoding="async" src="{% getUrl '/assets/images/lift.jpg' | resize({ width: 600, height:600, position: 'center'}) | webp %}" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/hero.jpg' | resize({ width: 600, height:600, position: 'center'}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/hero.jpg' | resize({ width: 600, height:600, position: 'center'}) | webp %}">
                    <img aria-hidden="true" decoding="async" src="{% getUrl '/assets/images/hero.jpg' | resize({ width: 600, height:600, position: 'center'}) | webp %}" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Company Title</h2>
                <p class="cs-text">
                    WB Tire and Auto, located at 1010 N University Blvd in Norman, OK, offers a comprehensive range of automotive maintenance and repair services. Their experienced technicians handle various vehicle needs to ensure optimal performance and safety.
                </p>
                <p class="cs-text">
                    WB Tire and Auto in Norman, OK, is a trusted automotive service provider specializing in a full range of vehicle maintenance and repair solutions. From routine oil changes and tire services to complex engine diagnostics and brake repairs, their experienced technicians ensure vehicles run smoothly and safely. They also offer wheel alignments, battery replacements, and A/C repair to maintain optimal performance. Committed to customer satisfaction, WB Tire and Auto provides high-quality service, competitive pricing, and special discounts for first responders and veterans. Whether you need a quick tune-up or major repairs, they are dedicated to keeping your vehicle in top condition.
                </p>
                <!-- <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt turpis sit amet imperdiet for mind.
                    </p>
                    <span class="cs-name">Justin Time</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77"/>
                </div> -->
                <a href="" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section>
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-2279">
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">Our Comprehensive Automobile Services</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/brake.svg" alt="icon" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Brake Replacement</h3>
                <p class="cs-item-text">
                    Professional technicians inspect, diagnose, and install high-quality parts to restore optimal stopping power.
                </p>
                <a href="" class="cs-link">
                    View More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-black-arrow.svg" alt="icon" width="20" height="20">
                </a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/brake.jpg' | resize({ width: 600, height:600, position: 'center'}) | webp %}" alt="construction" width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/ac.svg" alt="icon" width="40" height="40">
                </picture>
                <h3 class="cs-h3">A/C Repair</h3>
                <p class="cs-item-text">
                    Certified technicians ensure proper installation and refrigerant handling for efficient climate control.
                </p>
                <a href="" class="cs-link">
                    View More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-black-arrow.svg" alt="icon" width="20" height="20">
                </a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/lift.jpg' | resize({ width: 600, height:600, position: 'center'}) | webp %}" alt="construction" width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/gas.svg" alt="icon" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Oil Change</h3>
                <p class="cs-item-text">
                    An oil change service replaces old engine oil and filters to keep your vehicle running smoothly and efficiently.
                </p>
                <a href="" class="cs-link">
                    View More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-black-arrow.svg" alt="icon" width="20" height="20">
                </a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/oil.jpg' | resize({ width: 600, height:600, position: 'center'}) | webp %}" alt="construction" width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/align.svg" alt="icon" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Alignment</h3>
                <p class="cs-item-text">
                    Proper alignment enhances fuel efficiency, prevents uneven tire wear, and provides a smoother, safer ride.
                </p>
                <a href="" class="cs-link">
                    View More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-black-arrow.svg" alt="icon" width="20" height="20">
                </a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/align.jpg' | resize({ width: 600, height:600, position: 'center'}) | webp %}" alt="construction" width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/tire.svg" alt="icon" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Tire/Wheel Change</h3>
                <p class="cs-item-text">
                    Tire and wheel change service replaces worn or damaged tires and wheels to ensure safe driving and optimal performance.
                </p>
                <a href="" class="cs-link">
                    View More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-black-arrow.svg" alt="icon" width="20" height="20">
                </a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/lift.jpg' | resize({ width: 600, height:600, position: 'center'}) | webp %}" alt="construction" width="480" height="425">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/custom.svg" alt="icon" width="40" height="40">
                </picture>
                <h3 class="cs-h3">Custom Requests</h3>
                <p class="cs-item-text">
                    Don't see what you need on this list? Give us a call and we will service you!
                </p>
                <a href="" class="cs-link">
                    View More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/upper-right-black-arrow.svg" alt="icon" width="20" height="20">
                </a>
                <!--Background Image-->
                <picture class="cs-background">
                    <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/custom.jpg' | resize({ width: 600, height:600, position: 'center'}) | webp %}" alt="construction" width="480" height="425">
                </picture>
            </li>
        </ul>
    </div>
    <!--Waves Background-->
    <picture class="cs-accent">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/brush-strokes.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/brush-strokes.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/brush-strokes.jpg" alt="brush strokes" width="1920" height="331" aria-hidden="true">
    </picture>
</section>
                                


    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                    alt="profile picture"
                    width="80"
                    height="80"/>
                    <p class="cs-item-p">
                        I was in town visiting my son and doing some minor work on his car and noticed a need for some more major work outside of work I could do due to lack of time and tools.  Called the guys at WB and got a very reasonable quote and they were able to get the work done the next day.  I'm very happy with the quality of work and customer service we received.  Will definitely be back in the future if the need arises.
                    </p>
                    <span class="cs-reviewer">
                        Dan Gramza
                        <span class="cs-desc">Satisfied Customer</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16"/>
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                    alt="profile picture"
                    width="80"
                    height="80"/>
                    <p class="cs-item-p">
                        This place is clean that people are kind and informative the ownership is outstanding. Prices are very reasonable and they're done with a quality job at a quality price I would do 5 + Stars highly recommend
                    </p>
                    <span class="cs-reviewer">
                        Jennifer Musial
                        <span class="cs-desc">Satisfied Customer</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16"/>
                </li>
            </ul>
            <a target="_blank" aria-label="read more reviews" href="https://www.google.com/search?q=WB+Tire+and+Auto+LLC&oq=WB+Tire+and+Auto+LLC&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7MhAIARAuGK8BGMcBGIAEGI4FMgYIAhBFGEAyBwgDEAAYgAQyCAgEEAAYFhgeMgoIBRAAGIAEGKIEMgoIBhAAGIAEGKIEMgoIBxAAGIAEGKIE0gEHNjM5ajBqNKgCALACAQ&sourceid=chrome&ie=UTF-8#lrd=0x87b26999ba3d622f:0x25424c1020dd3afa,1,,,," class="cs-button-solid">Our Reviews</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}